---
import { Image } from 'astro:assets';
const { cta_url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alkaline Awakening by Tyson Murrey is a transformative guide offering insights on alkalinity, fasting, detoxification, health, and spirituality, with over 126 recipes to explore.">
    <meta name="keywords" content="Alkaline Awakening, Tyson Murrey, alkalinity, fasting, detoxification, health, spirituality, recipes, brain, food impact, PDF book">
    <meta property="og:title" content="Alkaline Awakening by Tyson Murrey">
    <meta property="og:description" content="Explore Alkaline Awakening by Tyson Murrey—a transformative guide on health, detox, and spirituality, featuring over 126 recipes and insights into how food affects the brain.">
    <meta property="og:image" content="/Alkaline.png">
    <meta property="og:url" content={cta_url}>
    <meta property="og:type" content="book">
    <title>Alkaline Awakening</title>
    <link rel="canonical" href={cta_url}>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main class="mx-auto max-w-7xl px-4 mb-8 mt-12 sm:mt-12 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="mb-12 md:max-w-1xl md:mx-auto lg:col-span-8">
          <h1
            class="mt-1 text-5xl tracking-tight leading-16 font-extrabold sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase"
          ><span class="underline">Alkaline Awakening</span>
          </h1>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            <b>Alkaline Awakening</b> by Tyson Murrey is more than just a source of in-depth knowledge on alkalinity, fasting, detoxification, health, and spirituality—it’s a transformative guide for life. With over 5 years of study on how food affects the brain, Tyson Murrey shares his insights alongside more than 126 unique recipes for you to explore.</p>
          
          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            Whether you're seeking to enhance your physical health, improve mental clarity, or embark on a spiritual journey, this PDF book provides you with the tools to transform your lifestyle through the power of alkalinity and detoxification.</p>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            <b>Get your copy now and start your journey toward a healthier, more vibrant life.</b>
          </p>

          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a
                href={cta_url}
                target="_blank"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-white bg-book-theme hover:bg-book-hover focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >
                Get It Now
              </a>
            </div>
          </div>
        </div>

        <div
          class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
        >
          <a class="book-container" href={cta_url}>
            <div class="book">
              <Image
                src="/Alkaline.png"
                width={300}
                height={600}
                alt="Alkaline Awakening by Tyson Murrey Book Cover"
                format="avif"
                loading="eager"
              />
            </div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
