---
import { Image } from 'astro:assets';
const { cta_url } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Wisdom Bundle includes the Book of Wisdom, Human Health Guide 2.0, and the Manifestation Mastery Course. Navigate your life towards clarity, health, and prosperity.">
    <meta name="keywords" content="The Wisdom Bundle, Book of Wisdom, Human Health Guide, Manifestation Mastery, esoteric knowledge, health guide, manifestation, personal growth, PDF bundle">
    <meta property="og:title" content="The Wisdom Bundle">
    <meta property="og:description" content="Unveil the esoteric realm with the Book of Wisdom, rejuvenate your well-being with Human Health Guide 2.0, and unlock the potential of your dreams with the Manifestation Mastery Course—all in The Wisdom Bundle.">
    <meta property="og:image" content="/TheWisdomBundle.png">
    <meta property="og:url" content={cta_url}>
    <meta property="og:type" content="product">
    <title>The Wisdom Bundle</title>
    <link rel="canonical" href={cta_url}>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main class="mx-auto max-w-7xl px-4 mb-8 mt-12 sm:mt-12 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="mb-12 md:max-w-1xl md:mx-auto lg:col-span-8">
          <h1
            class="mt-1 text-5xl tracking-tight leading-16 font-extrabold sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase"
          ><span class="underline">The Wisdom Bundle</span>
          </h1>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            <b>The Wisdom Bundle</b> offers a comprehensive trio of life-enhancing resources. Unveil the esoteric realm with the <b>Book of Wisdom</b> PDF, rejuvenate your well-being with the updated <b>Human Health Guide 2.0</b> PDF, and unlock the potential of your dreams with the <b>Manifestation Mastery Course</b>.</p>
          
          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            This bundle hands you the keys to navigate your life towards clarity, health, and prosperity, providing a roadmap for personal growth and fulfillment. Whether you're seeking spiritual enlightenment, improved health, or mastery over your dreams, this comprehensive package will guide your journey.</p>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            <b>Don't miss this exclusive offer. Get all three life-changing resources in one bundle today.</b>
          </p>

          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a
                href={cta_url}
                target="_blank"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-white bg-book-theme hover:bg-book-hover focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >
                Get It Now
              </a>
            </div>
          </div>
        </div>

        <div
          class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
        >
          <a class="book-container" href={cta_url}>
            <div class="book">
              <Image
                src="/TheWisdomBundle.png"
                width={300}
                height={600}
                alt="The Wisdom Bundle Product Image"
                format="avif"
                loading="eager"
              />
            </div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
