---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'Contact Us | Talesio',
  ignoreTitleTemplate: true,
};

const callToAction = {
  href: '/#books-container', // Replace with your store's URL
  target: '_self',
  text: 'Take Action Now',
};

---

<Layout metadata={metadata}>
  <section class="text-center py-10 md:py-16">
    <div class="md:mx-auto w-full max-w-3xl py-6 text-gray-700 dark:text-gray-300">
      <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
      <p class="text-lg mb-4">
        If you have any questions or request a refund of your purchases, please reach out to us.
      </p>
      <p class="text-lg">
        Email: <a href="mailto:support@talesio.com" class="text-book-theme hover:underline">contact@talesio.xyz</a><br />
      </p>
    </div>

    {/* Money-Back Guarantee Section */}
    <div class="md:mx-auto w-full max-w-3xl py-6 text-gray-700 dark:text-gray-300">
      <h2 class="text-2xl font-semibold mb-4">100% Money-Back Guarantee</h2>
      <p class="text-lg">
        We are confident in the value of our products and want you to be satisfied with your purchase. If for any reason you're not completely happy within the first 30 days, we offer a no-questions-asked, full refund. Simply contact us at the email above, and we'll handle your request swiftly.
      </p>
    </div>
  </section>
</Layout>